#product-name {
	display: inline;
}

#alter-restriction-saved {
	margin: 20px 0;
}

.header {
	margin-bottom: 20px;
	color: #ABBB86;
	font-family: Impact, Charcoal, sans-serif;
	height: 100px;
}
.header img {
	width: 150px;
	height: 100px;
}

.header h1 {
	padding-top: 42px;
	padding-left: 160px;
	font-size: 34px;
}

@media (max-width: 700px) {
	.header h1 {
		padding-top: 0;
		padding-left: 160px;
		font-size: 26px;
	}
}

#check {
	margin: 10px 0 20px;
}

.barcode-link {
	margin: 7px 0 7px 4px;
}

.alert {
	margin-top:20px;
}